<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
	</configSections>

	<serviceBus>
		<outbox
			uri="msmq://./outbox_work"
			errorUri="msmq://./outbox_error" />
	</serviceBus>
</configuration>