<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
		</sectionGroup>
	</configSections>

	<shuttle>
		<serviceBus>
			<uriResolver>
				<add resolverUri="registry://host/queue-1" targetUri="msmq://./inbox-work-queue" />
				<add resolverUri="registry://host/queue-2" targetUri="rabbitmq://user:password@the-server/inbox-work-queue" />
			</uriResolver>
		</serviceBus>
	</shuttle>
</configuration>