<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
		</sectionGroup>
	</configSections>

	<shuttle>
		<serviceBus>
			<worker
				distributorControlUri="msmq://./distributor-server-control-inbox-work"
				threadAvailableNotificationIntervalSeconds="5" />
		</serviceBus>
	</shuttle>
</configuration>