using System.Reflection;
using System.Runtime.InteropServices;

[assembly: AssemblyTitle(".NET Unified Platform")]
[assembly: AssemblyVersion("#{SemanticVersionCore}#.0")]
[assembly: AssemblyCopyright("Copyright (c) #{Year}#, Eben Roux")]
[assembly: AssemblyProduct("Shuttle.Esb")]
[assembly: AssemblyCompany("Eben Roux")]
[assembly: AssemblyConfiguration("Release")]
[assembly: AssemblyInformationalVersion("#{SemanticVersion}#")]
[assembly: ComVisible(false)]